body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
h2 {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
.h-section-two {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.2;
}
.p-section-two {
  letter-spacing: 0.02em;
}
.logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo:focus,
.logo:hover {
  color: #404bbf;
}
.logo1 a {
  color: #2e2f42;
  text-transform: uppercase;
}
.studio-in-logo-header {
  color: #2e2f42;
}
.studio-in-logo-header:hover,
.studio-in-logo-header:focus {
  color: #404bbf;
}
.logo .studio-in-logo {
  color: #f4f4fd;
}
.nav-link-studio {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.navigation a:hover,
.navigation a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .address-mail {
  font-size: 16px;
  letter-spacing: 0.02em;
}
.contacts a {
  color: #434455;
  font-size: 12px;
}
.contacts a:hover,
.contacts a:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.title-h {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  border-style: none;
  font-weight: medium;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.h-section-four {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.hhh-section-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.footer .logo {
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
